.movesection {
    height: 70%;
    padding: 10px 25px 0px 25px;
    background-color:  #DBE6DF;
    overflow-y: scroll;
    color: #5A8770;
}

.marginless {
    margin: 0;
}

.panelroot {
    align-self: start;
    height: 84vh;
    margin-left: 20px;
    width: 23vw;
    box-shadow: 16px 16px 24px 0 rgba(0, 0, 0, 0.2),
    -16px -16px 24px 0 rgba(255, 255, 255, 0.5);
}

.informationsection {
    background-color: #7BA388;
    height: 15%;
    padding: 10px 25px 10px 25px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #DBE6DF;
}

.actionsection {
    background-color: #7BA388;
    height: 15%;
    padding: 0px 40px 10px 40px;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.moverow {
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: 16% 42% 42%;
    justify-items: start;
    width: 100%;
    font-size: medium;
    font-weight: bold;
}

.between {
    justify-content: space-between;
}

.moveelem {
    align-self: start;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 6px;
    border-radius: 10px;
    width: 30%;
    height: 30%;
    border: none;
    font-weight: bolder;
    font-size: large;
    background-color: #DBE6DF;
    color: #213129;
    user-select: none;
}

.button:hover {
    color: #DBE6DF;
    background-color: #213129;
}

.button:active {
    outline: none;
    box-shadow: 0 0 4px 3px #E7EEEA;
    /* color: #DBE6DF; */
    /* background-color: #213129; */
}

.button:focus {
    outline: 0;
}
